{% extends "ecommerce/base.html" %} {% load i18n %} {% block head_title %}{% trans "Change Password" %}{% endblock %} {% block content %}
{%load static%}
<style>
    .card{
        width:fit-content;
        text-align:center;
    }
    
</style>

<div class="card bg-dark mx-auto mt-5">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Password Changed</strong>
    </h5>

    <!--Card content-->
    <div><img class="m-4" style="width:200px;" src="{% static 'images/email_confirmed.png' %}"></div>
    <div class="card-body px-lg-5 pt-0">
        <h4>{% trans 'Your password is now changed.' %}</h4>
            <a role="button" class="btn btn-secondary" href="/accounts/login/">LOG IN</a>
    </div>

</div>
{% endblock %}