{% extends "ecommerce/base.html" %} {% load i18n %} {% block head_title %}{% trans "Change Password" %}{% endblock %} {% block content %}

<style>
    .card{
        width:fit-content;
    }
    .password_change input{
        color:white;
    }
    
    
</style>

<div class="card bg-dark mx-auto mt-5">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Change Password</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        {% comment %} <form class="text-center" style="color: #757575;" action="#!"> {% endcomment %}
        <form class="password_change text-center" id="signup_form" method="post" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            
            <div class="form-row">
                <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                        {{ form.oldpassword }} 
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                        {{ form.password1 }} 
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                        {% comment %} {{ form.remember.label }}  {% endcomment %}
                        {{ form.password2 }} 
                    </div>
                </div>
            </div>

            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">change password</button>
        </form>
            

    </div>

</div>

{% endblock %}