{% extends "ecommerce/base.html" %} {% load i18n %} {% load account %} {% block head_title %}{% trans "Password Reset" %}{% endblock %} {% block content %}
{%load static%}
<style>
    .card{
        width:fit-content;
        text-align:center;
    }
    
</style>

<div class="card bg-dark mx-auto mt-5">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Email Verification</strong>
    </h5>

    <!--Card content-->
    <div><img class="m-4" style="width:200px;" src="{% static 'images/email_sent.png' %}"></div>
    <div class="card-body px-lg-5 pt-0">
        <h1>{% trans "Password Reset" %}</h1>

        {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}

        <p>
            {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
        </p>

    </div>

</div>
{% endblock %}